<% provide :title, t("views.static_pages.doctors.title") %>
<div class="container">
  <h1 class="title"><%= t "views.static_pages.home.our_doctors" %></h1>
  <div class="card-deck">
    <div class="card">
      <%= image_tag "staff-1.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "staff-2.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "staff-3.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
