$steel-blue: #4682B4;
$white-smoke: #f1f1f1;
$gray-scale: #ddd;
$onahau: #C6E9F5;
$vivid-blue: #00b7ea;
$turquoise: #43DDE6;
$light-slate-blue: #9870FC;
$white: #fff;
$fern: #69cb6a;
$madison: #314355;
$summer-sky: #3c97e8;
$nero: #222222;
